<div class="container">
    <div class="row">
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h1 class="featurette-heading" style="color:palevioletred">Jasmine<span class="text-muted">Flower</span>
                </h1><br>
                <h4><span style="color: blue;">Height :</span>10 to 15 feet</h4>
                <h4><span style="color: blue;">ph range :</span>6.5-7.5 </h4>
                <h4><span style="color: blue;">Soil:</span>Well-drained, rich loamy soil</h4>
                <h4><span style="color: blue;">Types:</span>Arabian,white,winter,wild jasmine</h4>
                <h4><span style="color: blue;">SunLight :</span> Full sun or part shade</h4>
                <h4><span style="color: blue;">Watering :</span>Jasmine flowers that are in-ground should be watered once a week.</h4>
            </div>
            <div class="col-md-5">
                <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
                <img src="https://news.cgtn.com/news/7a596a4e3555544e326b6a4d30677a4e34677a4e31457a6333566d54/img/856c0820797e4961a050374f9e4eac1b/856c0820797e4961a050374f9e4eac1b.jpg" width="500" height="350">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h1 class="featurette-heading" style="color:palevioletred">Winterberry<span class="text-muted">Plant</span>
                </h1><br>
                <h4><span style="color: blue;">Height :</span>18–24' and a spread of 10–12' at maturity</h4>
                <h4><span style="color: blue;">ph range :</span>pH 4.5 to 6.5 (acidic)</h4>
                <h4><span style="color: blue;">Soil:</span>Acidic loam with a good level of organic material</h4>
                <h4><span style="color: blue;">Types:</span>Afterglow,Berry Heavy,Berry Nice®,Cacapon</h4>
                <h4><span style="color: blue;">SunLight :</span>Full sun to partial shade</h4>
                <h4><span style="color: blue;">Watering :</span>Water it with frequency</h4>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIRh3b783tP8Whp_LDfWMqcfC79gSCQbwmNLHCSFq5NA&usqp=CAU&ec=48665701" width="450" height="350">

            </div>
        </div>
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h1 class="featurette-heading" style="color:palevioletred">Snapdragons<span class="text-muted">Plant</span>
                </h1><br>
                <h4><span style="color: blue;">Height :</span>15 to 30 inches </h4>
                <h4><span style="color: blue;">ph range :</span>Between 6.2 and 7.0</h4>
                <h4><span style="color: blue;">Soil:</span>Neutral Soil</h4>
                <h4><span style="color: blue;">Types:</span>Yellow Snapdragon Flower,Antirrhinum majus Flower,Pink Snapdragon Flower,Pink Snapdragon Flower,White Snapdragon Flower</h4>
                <h4><span style="color: blue;">SunLight :</span> Full sun to partial shade for optimal growth.</h4>
                <h4><span style="color: blue;">Watering :</span>1 inch of water per week in times of no rainfall</h4>
            </div>
            <div class="col-md-5">
                <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
                <img src="https://m.media-amazon.com/images/I/61HFWrXnKYL._SL500_.jpg" width="450" height="450">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h1 class="featurette-heading" style="color:palevioletred">winter heath<span class="text-muted">Plant</span>
                </h1><br>
                <h4><span style="color: blue;">Height :</span>6-12 in. tall (15-30 cm) and 18 in. across (45 cm).</h4>
                <h4><span style="color: blue;">ph range :</span>4.5-5.5</h4>
                <h4><span style="color: blue;">Soil:</span>Light sandy soil, enriched with organic matter such as leafmould, well-composted pine needles</h4>
                <h4><span style="color: blue;">Types:</span>winter heath,tree heather,pink bell heather
                    Lilies,Daylilies</h4>
                <h4><span style="color: blue;">SunLight :</span> Full sun for optimal growth.</h4>
                <h4><span style="color: blue;">Watering :</span>once or twice a week when the soil is dry throughout the first season</h4>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://thumbs.dreamstime.com/z/blooming-pink-erica-carnea-flowers-winter-heath-snow-garden-early-spring-floral-background-177088503.jpg" width="450" height="350">

            </div>
        </div>

        
    

<hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h1 class="featurette-heading" style="color:palevioletred">Crocus<span class="text-muted">Plant</span>
                </h1><br>
                <h4><span style="color: blue;">Height :</span>No more than two to five inches</h4>
                <h4><span style="color: blue;">ph range :</span>6.0 - 7.0</h4>
                <h4><span style="color: blue;">Soil:</span>Neutral soil</h4>
                <h4><span style="color: blue;">Types:</span>Autumn crocus,crocus vernus,crocus flavus</h4>
                <h4><span style="color: blue;">SunLight :</span> Full sun for optimal growth.</h4>
                <h4><span style="color: blue;">Watering :</span> half-inch to 1 inch (1-3 centimeters) of water per week,</h4>
            </div>
            <div class="col-md-5">
                <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqMYgScb4z5yESLKjACptETPj2RMKVh6I9rg&usqp=CAU" width="450" height="350">
            </div>
        </div>

    </div>
</div>