<div class="container">
    <div class="row">
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h1 class="featurette-heading" style="color:palevioletred">Primrose<span class="text-muted">Flower</span>
                </h1><br>
                <h4><span style="color: blue;">Height :</span>6 to 24 inches</h4>
                <h4><span style="color: blue;">ph range :</span>6.5</h4>
                <h4><span style="color: blue;">Soil:</span>Nice, loamy soil.</h4>
                <h4><span style="color: blue;">Types:</span>Asiatic Lilies,Oriental Lilies,Trumpet Lilies,Easter
                    Lilies,Daylilies</h4>
                <h4><span style="color: blue;">SunLight :</span>Part Sun, Shade, Sun</h4>
                <h4><span style="color: blue;">Watering :</span>Most species of primrose require regular watering</h4>
                
            </div>
            <div class="col-md-5">
                <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
                <img src="https://cdn.britannica.com/78/118078-050-7F3EB0FA/primrose.jpg" width="500" height="350">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h1 class="featurette-heading" style="color:palevioletred">Daffodil<span class="text-muted">Plant</span>
                </h1><br>
                <h4><span style="color: blue;">Height :</span>41 cm (16 inches)</h4>
                <h4><span style="color: blue;">ph range :</span>6.0 - 6.5</h4>
                <h4><span style="color: blue;">Soil:</span>loose, loamy, fertile, and most of all, well-draining</h4>
                <h4><span style="color: blue;">Types:</span>Jonquil,wild daffodil,Bunch-flowered daffodil</h4>
                <h4><span style="color: blue;">SunLight :</span> Daffodils prefer full sun they will usually tolerate half-day shade,</h4>
                <h4><span style="color: blue;">Watering :</span>Water immediately after planting and keep them moist until the rains come. Continue watering for three weeks </h4>
                
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://i.pinimg.com/564x/31/bf/f0/31bff0a2f669f3cde51e08ff86fb2277--yellow-flowers-spring-flowers.jpg" width="450" height="350">

            </div>
        </div>
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h1 class="featurette-heading" style="color:palevioletred">Crocus<span class="text-muted">Plant</span>
                </h1><br>
                <h4><span style="color: blue;">Height :</span>No more than two to five inches</h4>
                <h4><span style="color: blue;">ph range :</span>6.0 - 7.0</h4>
                <h4><span style="color: blue;">Soil:</span>Neutral soil</h4>
                <h4><span style="color: blue;">Types:</span>Autumn crocus,crocus vernus,crocus flavus</h4>
                <h4><span style="color: blue;">SunLight :</span> Full sun for optimal growth.</h4>
                <h4><span style="color: blue;">Watering :</span> half-inch to 1 inch (1-3 centimeters) of water per week,</h4>
            </div>
            <div class="col-md-5">
                <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
                <img src="https://m.media-amazon.com/images/I/61w52pKpatL.jpg" width="450" height="450">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h1 class="featurette-heading" style="color:palevioletred">Tulip<span class="text-muted">Plant</span>
                </h1><br>
                <h4><span style="color: blue;">Height :</span>between 10 and 70 cm (4 and 28 inches) high
                </h4>
                <h4><span style="color: blue;">ph range :</span>6.0-6.5.</h4>
                <h4><span style="color: blue;">Soil:</span> well-draining, neutral to slightly acidic, fertile, and dry or sandy</h4>
                <h4><span style="color: blue;">Types:</span>Garden tulip,parrot tulip,lady tulip</h4>
                <h4><span style="color: blue;">SunLight :</span>Plants need at least 6 hours of direct sun daily</h4>
                <h4><span style="color: blue;">Watering :</span>Water once per week week for the first month after planting</h4>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://4.imimg.com/data4/WH/CS/MY-31339613/flowering-plant-500x500.jpg" width="450" height="350">

            </div>
        </div>
        

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h1 class="featurette-heading" style="color:palevioletred">Hellebore<span class="text-muted">Plant</span>
                </h1><br>
                <h4><span style="color: blue;">Height :</span>30–45cm (12–18in) tall
                </h4>
                <h4><span style="color: blue;">ph range :</span>7.0-8.0</h4>
                <h4><span style="color: blue;">Soil:</span> Loamy soil that is moist but drains well</h4>
                <h4><span style="color: blue;">Types:</span>Helleborus niger,helleborus orientalis,stinking hellebore</h4>
                <h4><span style="color: blue;">SunLight :</span>dappled shade – although some will also grow in sun, others in deeper shade</h4>
                <h4><span style="color: blue;">Watering :</span>An inch of water a week from rainfall or watering, from spring to fall</h4>

            </div>
            <div class="col-md-5">
                <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
                <img src="https://cdn.britannica.com/78/118078-050-7F3EB0FA/primrose.jpg" width="500" height="350">
            </div>
        </div>

    </div>
</div>
