<div class="container-fluid px-1 py-4 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-9 col-md-9 col-11 text-center">
            <!-- <h3>Sell your plant here</h3> -->
            <div class="card" style="margin-top: 10px;">
                <h5 class="text-center mb-4" style="color: green;margin-top: 10px;">Sell your plant here</h5>
                <form class="form-card">
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label
                                class="form-control-label px-3">Plant Id<span class="text-danger"> *</span></label>
                            <input type="text" placeholder="Enter plant id" [(ngModel)]="User.p_id" name="p_id">
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label
                                class="form-control-label px-3">plant image url<span class="text-danger">
                                    *</span></label> <input type="text" placeholder="Enter plant image url"
                                [(ngModel)]="User.p_image" name="p_image"> </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label
                                class="form-control-label px-3">plant Name <span class="text-danger"> *</span></label>
                            <input type="text" placeholder="" [(ngModel)]="User.p_name" name="p_name">
                        </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label
                                class="form-control-label px-3">Plant type<span class="text-danger"> *</span></label>
                            <input type="text" placeholder="" [(ngModel)]="User.p_type" name="p_type">
                        </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label
                                class="form-control-label px-3">plant cost<span class="text-danger"> *</span></label>
                            <input type="text" placeholder="" [(ngModel)]="User.p_cost" name="p_cost">
                        </div>
                    </div>

                    <div class="row justify-content-end">
                        <input type="submit" value="Insert" class="btn btn-success my-2" (click)="Insert()">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>