<div class="container">
    <div class="row"><h1>TimeLine</h1></div>
    <div class="main-timeline">
    
                            <!-- start experience section-->
                            <div class="timeline">
                                <div class="icon"></div>
                                <div class="date-content">
                                    <div class="date-outer">
                                        <span class="date">
                                                <span class="month">May 5</span>
                                        <span class="year">2023</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="timeline-content">
                                    <h5 class="title">plants near &amp; houses</h5>
                                    <p class="description">
                                        we have observed that there are very less houses which are having plants being planted outside their houses.
                                    </p>
                                </div>
                            </div>
                            <!-- end experience section-->
    
                            <!-- start experience section-->
                            <div class="timeline">
                                <div class="icon"></div>
                                <div class="date-content">
                                    <div class="date-outer">
                                        <span class="date">
                                                <span class="month">May 15</span>
                                        <span class="year">2023</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="timeline-content">
                                    <h5 class="title">planting plants</h5>
                                    <p class="description">
                                        After observing the scenario,we have thought of planting tree.we have planted 50 trees in chinnaturkapalem.
                                    </p>
                                </div>
                            </div>
                            <!-- end experience section-->
    
                            <!-- start experience section-->
                            <div class="timeline">
                                <div class="icon"></div>
                                <div class="date-content">
                                    <div class="date-outer">
                                        <span class="date">
                                                <span class="month">May 28</span>
                                        <span class="year">2023</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="timeline-content">
                                    <h5 class="title">Experience</h5>
                                    <p class="description">
                                        we have experienced a good feeling after helping others.we made everyone to understand importance of growing plants.
                                    </p>
                                </div>
                            </div>
                            <!-- end experience section-->
    
                            <!-- start experience section-->
                            <div class="timeline">
                                <div class="icon"></div>
                                <div class="date-content">
                                    <div class="date-outer">
                                        <span class="date">
                                                <span class="month">June 14</span>
                                        <span class="year">2023</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="timeline-content">
                                    <h5 class="title">Result</h5>
                                    <p class="description">
                                        Now in village there are many trees and everyone got to know about trees more.
                                    </p>
                                </div>
                            </div>
                            <!-- end experience section-->
    
                        </div>
    </div>
    