<div class="form-container">
    <div class="form active" id="form1">
        <div class="container-fluid px-1 py-4 mx-auto">
            <div class="row d-flex justify-content-center">
                <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
                    <h3
                        style="color: rgb(239, 27, 27);font-size: large-xx;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
                        Buy your plant here</h3>
                    <div class="card">
                        <h5 class="text-center mb-4" style="color: green;">Enter Your Details</h5>
                        <form class="form-card">
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> <label
                                        class="form-control-label px-3">Name
                                        <span class="text-danger"> *</span></label>
                                    <input type="text" placeholder="Enter your name" ngModel required name="c_name">
                                </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> <label
                                        class="form-control-label px-3">Phone Number
                                        <span class="text-danger">
                                            *</span></label> <input type="text" placeholder="Enter your Number" ngModel
                                        required name="p_image"> </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> <label
                                        class="form-control-label px-3">Address
                                        <span class="text-danger"> *</span></label>
                                    <input type="text" placeholder="Enter Your Address" ngModel required name="p_name">
                                </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> <label
                                        class="form-control-label px-3">Plant
                                        type<span class="text-danger"> *</span></label>
                                    <input type="text" placeholder="" ngModel required name="p_type">
                                </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> <label
                                        class="form-control-label px-3">plant Name
                                        <span class="text-danger"> *</span></label>
                                    <input type="text" placeholder="" ngModel required name="p_name">
                                </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> <label
                                        class="form-control-label px-3">Plant
                                        type<span class="text-danger"> *</span></label>
                                    <input type="text" placeholder="" ngModel required name="p_type">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <button class="back-button btn btn-warning"
                                        onclick="showForm('form1')">Cancel</button>
                                </div>


                                <div class="col-sm-6">
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <button
                                        class="back-button btn btn-success" onclick="showForm('form2')">Next</button>
                                </div>

                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>

<div class="form-container">
    <div class="form" id="form2">
        <div class="container-fluid px-1 py-4 mx-auto">
            <div class="row d-flex justify-content-center">
                <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
                    <h3>Buy your plant here</h3>
                    <div class="card">
                        <h5 class="text-center mb-4" style="color: green;">Enter Your Payment Details</h5>
                        <form class="form-card">
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> <label
                                        class="form-control-label px-3">Payment
                                        Type<span class="text-danger"> *</span></label>
                                    <input type="text" placeholder="Enter plant id" ngModel required name="p_id">
                                </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> <label
                                        class="form-control-label px-3">Amount
                                        <span class="text-danger">
                                            *</span></label> <input type="text" placeholder="Enter plant image url"
                                        ngModel required name="p_image"> </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> <label
                                        class="form-control-label px-3">Bank name
                                        <span class="text-danger"> *</span></label>
                                    <input type="text" placeholder="" ngModel required name="p_name">
                                </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> <label
                                        class="form-control-label px-3">Ifsc code
                                        type<span class="text-danger"> *</span></label>
                                    <input type="text" placeholder="" ngModel required name="p_type">
                                </div>
                            </div>
                            <div class="row justify-content-between text-left">
                                <div class="form-group col-sm-6 flex-column d-flex"> <label
                                        class="form-control-label px-3">
                                        <span class="text-danger"> *</span></label>
                                    <input type="text" placeholder="" ngModel required name="p_name">
                                </div>
                                <div class="form-group col-sm-6 flex-column d-flex"> <label
                                        class="form-control-label px-3">Plant
                                        type<span class="text-danger"> *</span></label>
                                    <input type="text" placeholder="" ngModel required name="p_type">
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-4">
                                    <button class="back-button btn btn-danger" onclick="showForm('form1')">Back</button>
                                </div>


                                <div class="col-sm-6">
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a
                                        class="back-button btn btn-success" data-toggle="modal"
                                        data-target="#submit">Submit</a>

                                    <div class="modal fade" id="submit">
                                        <div class="modal-dialog mt-2">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h3 class="w-100 text-center mt-2"
                                                        style="color: blueviolet;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                                                        OrderInfo</h3>
                                                    <button class="btn btn-danger" data-dismiss="modal">×</button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <h4>Your Order placed successfully</h4>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">

                                                    <button class="btn btn-success" data-dismiss="modal">Ok</button>
                                                </div>


                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
</div>