<div class="container">
    <div class="row">
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h1 class="featurette-heading" style="color:palevioletred">Dahlia<span class="text-muted">Flower</span>
                </h1><br>
                <h4><span style="color: blue;">Height :</span>15 inches to more than 6 feet tall</h4>
                <h4><span style="color: blue;">ph range :</span>6.5 to 7.0</h4>
                <h4><span style="color: blue;">Soil:</span>Loosened and well drained soil</h4>
                <h4><span style="color: blue;">Types:</span>Dahlia pinnata,Dahlia imperialis,Dahlia 'Bishop of Llandaff'</h4>
                <h4><span style="color: blue;">SunLight :</span> Full sun to partial shade for optimal growth.</h4>
                <h4><span style="color: blue;">Watering :</span>Drip irrigation is ideal, as it directs moisture to the root zone while keeping the foliage dry</h4>
            </div>
            <div class="col-md-5">
                <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
                <img src="https://5.imimg.com/data5/ID/SO/FR/SELLER-28221781/dahlia-plants.jpg" width="500" height="350">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h1 class="featurette-heading" style="color:palevioletred">StoneCrop<span class="text-muted">Flower</span>
                </h1><br>
                <h4><span style="color: blue;">Height :</span>27-30 in. tall (68-75 cm) and 24 in</h4>
                <h4><span style="color: blue;">ph range :</span>5.0 to 6.0</h4>
                <h4><span style="color: blue;">Soil:</span> well-drained soil</h4>
                <h4><span style="color: blue;">Types:</span>Hylotelephi..spectabile,Burro's-tail</h4>
                <h4><span style="color: blue;">SunLight :</span> Full sun to partial shade for optimal growth.</h4>
                <h4><span style="color: blue;">Watering :</span>During the hot summers, plan to water every 7-10 days. Water every 2-3 week in the fall and winter</h4>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://cdn.britannica.com/14/120814-004-303B87AA/stonecrop.jpg" width="450" height="350">

            </div>
        </div>
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h1 class="featurette-heading" style="color:palevioletred">Chrysanthemums<span class="text-muted">Plant</span>
                </h1><br>
                <h4><span style="color: blue;">Height :</span>About 6 inches tall although they can reach 2 feet in height when flowering.</h4>
                <h4><span style="color: blue;">ph range :</span>6.5 to 7.0</h4>
                <h4><span style="color: blue;">Soil:</span>well-drained sandy loam of good texture and aeration</h4>
                <h4><span style="color: blue;">Types:</span>Chrysanthemum ×grandiflorum,Chrysanthemum indicum</h4>
                <h4><span style="color: blue;">SunLight :</span>6 hours of sunlight each day</h4>
                <h4><span style="color: blue;">Watering :</span>Apply water directly to the base of the plants</h4>
            </div>
            <div class="col-md-5">
                <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
                <img src="https://5.imimg.com/data5/SELLER/Default/2022/3/VR/HX/WX/16410835/new-product-500x500.jpeg" width="450" height="450">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h1 class="featurette-heading" style="color:palevioletred">Cyclamen<span class="text-muted">Plant</span>
                </h1><br>
                <h4><span style="color: blue;">Height :</span>6 to 16 inches</h4>
                <h4><span style="color: blue;">ph range :</span>Around 5.8</h4>
                <h4><span style="color: blue;">Soil:</span>organically rich, well-draining soil with a slightly acidic soil pH</h4>
                <h4><span style="color: blue;">Types:</span>Cyclamen persicum,Cyclamen purpurascens
                </h4>
                <h4><span style="color: blue;">SunLight :</span>Keep away from direct sunlight</h4>
                <h4><span style="color: blue;">Watering :</span>once every week, and less frequently in Winter (roughly every ten days)</h4>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://media.istockphoto.com/id/1026451782/photo/pink-persian-cyclamen-flowers-in-bloom.jpg?s=612x612&w=0&k=20&c=kqW4m4w8lGjbSqKoOkCGfoUh8YiBpnxgUKACEK5QxvI=" width="450" height="350">

            </div>
        </div>
        
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h1 class="featurette-heading" style="color:palevioletred">Pansy<span class="text-muted">Plant</span>
                </h1><br>
                <h4><span style="color: blue;">Height :</span>15 to 30 cm (6 to 12 inches) tall</h4>
                <h4><span style="color: blue;">ph range :</span> 5.4 to 5.8</h4>
                <h4><span style="color: blue;">Soil:</span>Rich, well-drained soil</h4>
                <h4><span style="color: blue;">Types:</span>The Blotch Pansy,The Clear Pansy,The Mammoth Pansy,The Whiskers Pansy
                </h4>
                <h4><span style="color: blue;">SunLight :</span>About six hours of sun daily</h4>
                <h4><span style="color: blue;">Watering :</span>Water pansies regularly through the growing season, but allow soil to dry slightly between waterings.</h4>
           </div>
            <div class="col-md-5">
                <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
                <img src="https://5.imimg.com/data5/ID/SO/FR/SELLER-28221781/dahlia-plants.jpg" width="500" height="350">
            </div>
        </div>
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h1 class="featurette-heading" style="color:palevioletred">Pansy<span class="text-muted">Plant</span>
                </h1><br>
                <h4><span style="color: blue;">Height :</span>15 to 30 cm (6 to 12 inches) tall</h4>
                <h4><span style="color: blue;">ph range :</span> 5.4 to 5.8</h4>
                <h4><span style="color: blue;">Soil:</span>Rich, well-drained soil</h4>
                <h4><span style="color: blue;">Types:</span>The Blotch Pansy,The Clear Pansy,The Mammoth Pansy,The Whiskers Pansy
                </h4>
                <h4><span style="color: blue;">SunLight :</span>About six hours of sun daily</h4>
                <h4><span style="color: blue;">Watering :</span>Water pansies regularly through the growing season, but allow soil to dry slightly between waterings.</h4>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://cdn.pixabay.com/photo/2013/10/24/16/00/flowers-200270_640.jpg" width="450" height="350">

            </div>
        </div>
        </div>
        </div>
