
   
         <div id="header" >     
         </div>    
      <section id="gallery">
        <div class="container">
          <div class="row">
          <div class="col-lg-4 mb-4">
          <div class="card">
            <img src="\assets\janaki.jpg" alt="" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Green Village</h5>
             
            </div>
           </div>
          </div>
        <div class="col-lg-4 mb-4">
        <div class="card">
            <img src="\assets\hafija.jpg" alt="" class="card-img-top">
            <div class="card-body">
             
            </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
          <div class="card">
            <img src="\assets\rizwana1.jpg" alt="" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Sunset</h5>
              
            </div>
           </div>
          </div>
        </div>
      </div>
      </section>
      <section id="header1" class="jumbotron text-center">
        <h1 class="display-3"></h1>
        <p class="lead"></p>       
   </section>
     
   <section id="gallery">
     <div class="container">
       <div class="row">
       <div class="col-lg-4 mb-4">
       <div class="card">
         <img src="\assets\kavya.jpg" alt="" class="card-img-top">
         <div class="card-body">
           <h5 class="card-title">Green Village</h5>
          
         </div>
        </div>
       </div>
     <div class="col-lg-4 mb-4">
     <div class="card">
         <img src="\assets\asmi.jpg" alt="" class="card-img-top">
         <div class="card-body">
          
         </div>
         </div>
       </div>
       <div class="col-lg-4 mb-4">
       <div class="card">
         <img src="\assets\navya.jpg" alt="" class="card-img-top">
         <div class="card-body">
           <h5 class="card-title">Sunset</h5>
           
         </div>
        </div>
       </div>
     </div>
   </div>
   </section>
   <section id="gallery">
    <div class="container">
      <div class="row">
      <div class="col-lg-4 mb-4">
      <div class="card">
        <img src="\assets\hafija.jpg" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Green Village</h5>
         
        </div>
       </div>
      </div>
    <div class="col-lg-4 mb-4">
    <div class="card">
        <img src="group2.jpg" height="575px" class="card-img-top">
        <div class="card-body">
         
        </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
      <div class="card">
        <img src="\assets\janaki.jpg" alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Sunset</h5>
          
        </div>
       </div>
      </div>
    </div>
  </div>
  </section>
       
