<div class="container">
  <img src="assets/group.jpg" height="575px" width="800" class="card-img-top">

</div>
<div class="container text-center">
  <h1 class="mt-5" class="text-success text-decoration-underline">Our Theme</h1>
  <h3 class="text-danger">Oxygen Production:</h3>
  <h4 class="text-primary">Trees release oxygen as a byproduct of photosynthesis, which is vital for the survival of all
    living organisms. They contribute to maintaining a healthy balance of oxygen in the atmosphere, supporting
    biodiversity and providing us with the air we breathe.</h4>
  <h3 class="text-danger">Soil Conservation:</h3>
  <h4 class="text-primary">Tree roots help prevent soil erosion by anchoring the soil and reducing the impact of water
    runoff. They improve soil structure, fertility, and moisture retention, which benefits both agricultural
    productivity and the health of ecosystems.</h4>
  <h3 class="text-danger">Water Cycle Regulation:</h3>
  <h4 class="text-primary">Trees play a vital role in regulating the water cycle. They absorb water through their roots
    and release it through transpiration, contributing to the formation of clouds and precipitation. This process helps
    maintain adequate rainfall patterns and prevents waterlogging or droughts in certain regions.</h4>

</div>
<div class="container text-center">
  <h1 class="mt-5" class="text-success text-decoration-underline">Analysis</h1>
  <h3 class="text-danger">Planting Design:</h3>
  <h4 class="text-primary">Assess the design and layout of the plantation. Consider factors such as spacing between
    trees, arrangement of different species, and overall aesthetic appeal. Evaluate whether the design supports proper
    growth, maintenance, and future development of the green village.</h4>
  <h3 class="text-danger">Maintenance Plan:</h3>
  <h4 class="text-primary">Evaluate the maintenance plan for the plantation, including watering, pruning, fertilization,
    and pest control measures. Assess the availability of resources, expertise, and ongoing efforts to ensure the health
    and vitality of the planted vegetation.</h4>
</div>
<div class="container text-center">
  <h1 class="mt-5" class="text-success text-decoration-underline">Result</h1>
  <h3 class="text-danger">Increased knowledge: </h3>
  <h4 class="text-primary">Providing information on planting helps people gain knowledge about various aspects such as
    plant selection, soil preparation, watering techniques, and proper care. This knowledge empowers individuals to make
    informed decisions and take appropriate actions when it comes to planting.</h4>
  <h3 class="text-danger">Environmental awareness: </h3>
  <h4 class="text-primary">Sharing information on planting can raise awareness about the importance of plants for the
    environment. People may learn about the benefits of planting trees, such as reducing carbon dioxide levels,
    improving air quality, preventing soil erosion, and creating habitats for wildlife. This awareness can encourage
    individuals to actively participate in environmental conservation efforts.</h4>
</div>
<br>

<div class="row">
  <div class="col-md-6">
    <img src="\assets\assests.jpg" class="img-fluid" alt="Image 1">
    <h1>Photo</h1>
  </div>
  <div class="col-md-3">
    <img src="\assets\Untitled.png" class="img-fluid" alt="Image 2"><br><br><br>
    <h1>Video</h1>
  </div>
</div>








<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <div align="center">
        <img src="assets/janaki.jpg" alt="Jane" width="300" height="300">
      </div>
      <div class="container">
        <h2>Nazma</h2>
        <p>nazma@gmail.com</p>
        <p>7675020093</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div align="center">
        <img src="assets/janaki.jpg" alt="Jane" width="300" height="300">
      </div>
      <div class="container">
        <h2>Nagalakshmi</h2>
        <p>nagalakshmi@gmail.com</p>
        <p>9346722194</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div align="center">
        <img src="assets/janaki.jpg" alt="Jane" width="300" height="300">
        <div class="container">
          <h2>Keerthi</h2>
          <p>keerthi@gmail.com</p>
          <p>8919645367</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div align="center">
        <img src="assets/janaki.jpg" alt="Jane" width="300" height="300">
        <div class="container">
          <h2>Tejaswini</h2>
          <p>teja@gmail.com</p>
          <p>8309213867</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div align="center">
        <img src="assets/janaki.jpg" alt="Jane" width="300" height="300">
        <div class="container">
          <h2>Sirisha</h2>
          <p>siri@gmail.com</p>
          <p>8008811280</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <div align="center">
        <img src="assets/janaki.jpg" alt="Jane" width="300" height="300">
        <div class="container">
          <h2>Swarna</h2>
          <p>swarna@gmail.com</p>
          <p>6300858421</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
</div>