<div class="container" id="grow">
    <div class="row" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-weight: bolder;padding-top: 50px;">
        Chinna Turakapalem is a small village located in the Narasaraopeta Mandal of Guntur district in the state of Andhra Pradesh, India. Narasaraopeta is a town in the Guntur district and serves as the Mandal headquarters. Here are some details about Chinna Turakapalem:

    </div>
    <div class="row" style="padding-top: 30px;" id="img">
        <img src="/assets/nrt.gif
        " alt="" height="400px"> 
    </div>
</div>
<hr class="featurette-divider">
<div class="container" id="container">
    <div class="row" style="padding-top: 40px;"><h1 class="about">About  Chinna Turakapalem </h1></div>
    <div class="row" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
        <h3><p style="color: blue;">Location:</p> Chinna Turakapalem is situated approximately 10 kilometers northeast of Narasaraopeta town. It is surrounded by other neighboring villages and is primarily a rural agricultural area.</h3>

    </div>
    <div class="row" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
        <h3><p style="color: blue;">Demographics:</p> The village is home to a population primarily engaged in agricultural activities. The residents are mainly from agrarian backgrounds and are involved in farming practices.</h3>
    </div>
    <div class="row" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
        <h3><p style="color: blue;">Agriculture:</p>  Like many other villages in the region, agriculture forms the backbone of the economy in Chinna Turakapalem. The fertile land in and around the village supports the cultivation of various crops such as paddy, cotton, groundnuts, and vegetables.</h3>
    </div>
    <!-- <div class="row" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
        <h3><p style="color: blue;">Infrastructure:</p> Being a rural village, the infrastructure in Chinna Turakapalem includes basic amenities such as roads, electricity, and water supply. The village may have local schools, healthcare facilities, and other essential services.
        </h3>
    </div> -->
    <div class="row" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
        <h3><p style="color: blue;">Culture and Festivals:<p> The village celebrates various cultural and religious festivals, which are an integral part of the community's social life. Festivals such as Sankranti, Ugadi, and Diwali are typically observed with enthusiasm and participation.</p> 
        </h3>
    </div>
</div>
<hr class="featurette-divider">

<div class="container p-2" >
    <div class="row p-2">
        <h1 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;color: green;">The "Impact" we've created</h1>
    </div>
    <div class="row p-2">
        <div class="col p-2"><img src="\assets\hygiene.png" alt="" height="150px">
        <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: bolder;padding-top: 30px;">City Beautification</p></div>
        <div class="col"><img src="\assets\seed.png" alt="" height="150px">
            <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: bolder;padding-top: 30px;">Avoiding Soil Erosion</p></div>
            <div class="col"><img src="\assets\international-law.png" alt="" height="150px">
                <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: bolder;padding-top: 30px;">Restoring Environmental Balance</p></div>
               
    </div>
    <div class="row">
        <div class="col"><img src="\assets\save-water.png" alt="" height="150px">
        <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: bolder;padding-top: 30px;">Water Conservation</p></div>
        <div class="col"><img src="\assets\toucan.png" alt="" height="150px">
            <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: bolder;padding-top: 30px;">Encouraging Biodiversity

            </p></div>
            <div class="col"><img src="\assets\idea.png" alt="" height="150px">
                <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: bolder;padding-top: 30px;">Social Awareness</p></div>
               
    </div>
</div>