<div class="row" style="margin-top: 15px;margin-left: 15px;">
    <div class="col">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top"
                src="https://images.pexels.com/photos/56866/garden-rose-red-pink-56866.jpeg?cs=srgb&dl=pexels-pixabay-56866.jpg&fm=jpg"
                alt="Card image cap" width="287" height="200">

            <div class="card-body">
                <h5 class="card-title">Rose Plant</h5>
                <p class="card-text"><span style="color: blue;font-weight:100px;">SunLight :</span>At least six hours of
                    direct sunlight each day.</p>
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span style="color: blue;font-weight:100px;">Soil :</span>pH level 6 to
                    6.5.Soil types are Loamy soil,Sandy Soil,Clay Soil,Silt Soil</li>
                <li class="list-group-item"><span style="color: blue;font-weight:100px;">Watering:</span> Require
                    regular watering, especially during dry periods.Water base to encourage deep root growth.</li>
                <li class="list-group-item"><span style="color: blue;font-weight:100px;">Fertilizer:</span>Use a
                    balanced rose fertilizer or a slow-release granular fertilizer</li>
            </ul>
            <div class="card-body">
                <!-- <button><a href="#" class="card-link navbar-brand">More Info</a> </button> -->
                <button class="btn btn-danger" data-toggle="modal" data-target="#more" name="Rose" (click)="Read('Rose')">More</button>&nbsp;
                <button class="btn btn-danger" data-toggle="modal" data-target="#more" routerLink="/form" routerLinkActive="active">Order</button>

            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top"
                src="https://media.istockphoto.com/id/969978538/photo/field-of-sunflowers-with-blue-sky.jpg?s=612x612&w=0&k=20&c=IUKrtPcL_gDPgX7UdM0SUsMVCc3iVdrUz0WqRnbOGjM="
                alt="Card image cap" width="287" height="200">
            <div class="card-body">
                <h5 class="card-title">Sun Flower</h5>
                <p class="card-text"><span style="color: blue;font-weight:100px;">SunLight :</span>Minimum of 6 to 8
                    hours of direct sunlight each day.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span style="color: blue;font-weight:100px;">Soil :</span>pH level 6.0 to
                    7.5.Soil Types are loamy, fertile soil</li>
                <li class="list-group-item"> <span style="color: blue;font-weight:100px;">Watering:</span>moderate water
                    needs and require regular watering to keep the soil consistently moist but not waterlogged.</li>
                <li class="list-group-item"><span style="color: blue;font-weight:100px;">Fertilizer:</span>relatively
                    low-maintenance when it comes to fertilizer requirements.</li>
            </ul>
            <div class="card-body">
                <button><a href="#" class="card-link navbar-brand">More Info</a> </button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top"
                src="https://encrypted-tbn2.gstatic.com/licensed-image?q=tbn:ANd9GcSqfmuNYZsgYqCakDnpUpDUb18ndneVPagLtnYKtcMtzjVtUWULMM5cy7d-Gt5IEK8v3w9zYi5R9VEHjFQ"
                alt="Card image cap" width="287" height="200">
            <div class="card-body">
                <h5 class="card-title">Hydrangea plant</h5>
                <p class="card-text"><span style="color: blue;font-weight:100px;">SunLight :</span>Partial shade in the
                    later parts of the day </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span style="color: blue;font-weight:100px;">Soil :</span>well drained but
                    moist fertile soil,pH of about 6.0 to 6.2</li>
                <li class="list-group-item"> <span style="color: blue;font-weight:100px;">Watering:</span>Water at a
                    rate of 1 inch per week throughout the growing season</li>
                <li class="list-group-item"><span style="color: blue;font-weight:100px;">Fertilizer:</span>Typically
                    hydrangeas thrive when fed an all-purpose, balanced fertilizer like a 10-10-10 N-P-K or 12-4-8 N-P-K
                </li>
            </ul>
            <div class="card-body">
                <button><a href="#" class="card-link navbar-brand">More Info</a> </button>
            </div>
        </div>
    </div>
    ,
</div>
<div class="row" style="margin-top: 15px;margin-left: 15px;">
    <div class="col">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="https://www.setgreen.com/uploaded/products/eb-image-1602932708.png"
                alt="Card image cap" width="287" height="200">

            <div class="card-body">
                <h5 class="card-title">Aboli plant</h5>
                <p class="card-text"><span style="color: blue;font-weight:100px;">SunLight :</span>six or more hours of
                    direct sunlight daily.
                </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span style="color: blue;font-weight:100px;">Soil :</span>well drained sandy
                    loam and red soils with pH value of 6 to 8.0</li>
                <li class="list-group-item"> <span style="color: blue;font-weight:100px;">Watering:</span> Require
                    regular watering, especially during dry periods.Water base to encourage deep root growth.</li>
                <li class="list-group-item"><span style="color: blue;font-weight:100px;">Fertilizer:</span>Use a
                    balanced rose fertilizer or a slow-release granular fertilizer</li>
            </ul>
            <div class="card-body">
                <button><a href="#" class="card-link navbar-brand">More Info</a> </button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNGh_cm_aEf-BaJfYnIfRQzbBkVZmyRYGD4g&usqp=CAU"
                alt="Card image cap" width="287" height="200">
            <div class="card-body">
                <h5 class="card-title">Lotus plant</h5>
                <p class="card-text"><span style="color: blue;font-weight:100px;">SunLight :</span>Lotus need 6 hours of
                    direct sunlight to flower,</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span style="color: blue;font-weight:100px;">Soil :</span>a soil mixture
                    about 60 percent clay and 40 percent river sand,pH values that range from 5.5 to 9.0</li>
                <li class="list-group-item"> <span style="color: blue;font-weight:100px;">Watering:</span>All that is
                    necessary is a no holes container and a few inches of water above the soil</li>
                <li class="list-group-item"><span style="color: blue;font-weight:100px;">Fertilizer:</span>For almost
                    all lotus you will want a fertilizer with a 10-10-10 or 5-10-10 NPK ratio</li>
            </ul>
            <div class="card-body">
                <button><a href="#" class="card-link navbar-brand">More Info</a> </button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0INwtoz_kTfmNSznSbGMj7u3GU7ZGlyxBUA&usqp=CAU"
                alt="Card image cap" width="287" height="200">
            <div class="card-body">
                <h5 class="card-title">Hibiscus Plant</h5>
                <p class="card-text"><span style="color: blue;font-weight:100px;">SunLight :</span>Give it around six
                    hours of sunshine, and it will grow well</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span style="color: blue;font-weight:100px;">Soil :</span>Hibiscus grows
                    best in slightly acidic soil that has a pH between 6.5 and 6.8</li>
                <li class="list-group-item"> <span style="color: blue;font-weight:100px;">Watering:</span>Hibiscus are
                    generally thirsty, but it is possible to overwater the plant</li>
                <li class="list-group-item"><span style="color: blue;font-weight:100px;">Fertilizer:</span>Miracle Grow
                    or other fertilizer mixes</li>
            </ul>
            <div class="card-body">
                <button><a href="#" class="card-link navbar-brand">More Info</a> </button>
            </div>
        </div>
    </div>

</div>


<div class="row" style="margin-top: 15px;margin-left: 15px;">
    <div class="col">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top"
                src="https://images.pexels.com/photos/56866/garden-rose-red-pink-56866.jpeg?cs=srgb&dl=pexels-pixabay-56866.jpg&fm=jpg"
                alt="Card image cap" width="287" height="200">

            <div class="card-body">
                <h5 class="card-title">Rose Plant</h5>
                <p class="card-text"><span style="color: blue;font-weight:100px;">SunLight :</span>At least six hours of
                    direct sunlight each day.</p>
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span style="color: blue;font-weight:100px;">Soil :</span>pH level 6 to
                    6.5.Soil types are Loamy soil,Sandy Soil,Clay Soil,Silt Soil</li>
                <li class="list-group-item"><span style="color: blue;font-weight:100px;">Watering:</span> Require
                    regular watering, especially during dry periods.Water base to encourage deep root growth.</li>
                <li class="list-group-item"><span style="color: blue;font-weight:100px;">Fertilizer:</span>Use a
                    balanced rose fertilizer or a slow-release granular fertilizer</li>
            </ul>
            <div class="card-body">
                <button><a href="#" class="card-link navbar-brand">More Info</a> </button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top"
                src="https://media.istockphoto.com/id/969978538/photo/field-of-sunflowers-with-blue-sky.jpg?s=612x612&w=0&k=20&c=IUKrtPcL_gDPgX7UdM0SUsMVCc3iVdrUz0WqRnbOGjM="
                alt="Card image cap" width="287" height="200">
            <div class="card-body">
                <h5 class="card-title">Sun Flower</h5>
                <p class="card-text"><span style="color: blue;font-weight:100px;">SunLight :</span>Minimum of 6 to 8
                    hours of direct sunlight each day.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span style="color: blue;font-weight:100px;">Soil :</span>pH level 6.0 to
                    7.5.Soil Types are loamy, fertile soil</li>
                <li class="list-group-item"> <span style="color: blue;font-weight:100px;">Watering:</span>moderate water
                    needs and require regular watering to keep the soil consistently moist but not waterlogged.</li>
                <li class="list-group-item"><span style="color: blue;font-weight:100px;">Fertilizer:</span>relatively
                    low-maintenance when it comes to fertilizer requirements.</li>
            </ul>
            <div class="card-body">
                <button><a href="#" class="card-link navbar-brand">More Info</a> </button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top"
                src="https://encrypted-tbn2.gstatic.com/licensed-image?q=tbn:ANd9GcSqfmuNYZsgYqCakDnpUpDUb18ndneVPagLtnYKtcMtzjVtUWULMM5cy7d-Gt5IEK8v3w9zYi5R9VEHjFQ"
                alt="Card image cap" width="287" height="200">
            <div class="card-body">
                <h5 class="card-title">Hydrangea plant</h5>
                <p class="card-text"><span style="color: blue;font-weight:100px;">SunLight :</span>Partial shade in the
                    later parts of the day </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span style="color: blue;font-weight:100px;">Soil :</span>well drained but
                    moist fertile soil,pH of about 6.0 to 6.2</li>
                <li class="list-group-item"> <span style="color: blue;font-weight:100px;">Watering:</span>Water at a
                    rate of 1 inch per week throughout the growing season</li>
                <li class="list-group-item"><span style="color: blue;font-weight:100px;">Fertilizer:</span>Typically
                    hydrangeas thrive when fed an all-purpose, balanced fertilizer like a 10-10-10 N-P-K or 12-4-8 N-P-K
                </li>
            </ul>
            <div class="card-body">
                <button><a href="#" class="card-link navbar-brand">More Info</a> </button>
            </div>
        </div>
    </div>
    ,
</div>
<div class="row" style="margin-top: 15px;margin-left: 15px;">
    <div class="col">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="https://www.setgreen.com/uploaded/products/eb-image-1602932708.png"
                alt="Card image cap" width="287" height="200">

            <div class="card-body">
                <h5 class="card-title">Aboli plant</h5>
                <p class="card-text"><span style="color: blue;font-weight:100px;">SunLight :</span>six or more hours of
                    direct sunlight daily.
                </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span style="color: blue;font-weight:100px;">Soil :</span>well drained sandy
                    loam and red soils with pH value of 6 to 8.07-Apr-2018</li>
                <li class="list-group-item"> <span style="color: blue;font-weight:100px;">Watering:</span> Require
                    regular watering, especially during dry periods.Water base to encourage deep root growth.</li>
                <li class="list-group-item"><span style="color: blue;font-weight:100px;">Fertilizer:</span>Use a
                    balanced rose fertilizer or a slow-release granular fertilizer</li>
            </ul>
            <div class="card-body">
                <button><a href="#" class="card-link navbar-brand">More Info</a> </button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNGh_cm_aEf-BaJfYnIfRQzbBkVZmyRYGD4g&usqp=CAU"
                alt="Card image cap" width="287" height="200">
            <div class="card-body">
                <h5 class="card-title">Lotus plant</h5>
                <p class="card-text"><span style="color: blue;font-weight:100px;">SunLight :</span>Lotus need 6 hours of
                    direct sunlight to flower,</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span style="color: blue;font-weight:100px;">Soil :</span>a soil mixture
                    about 60 percent clay and 40 percent river sand,pH values that range from 5.5 to 9.0</li>
                <li class="list-group-item"> <span style="color: blue;font-weight:100px;">Watering:</span>All that is
                    necessary is a no holes container and a few inches of water above the soil</li>
                <li class="list-group-item"><span style="color: blue;font-weight:100px;">Fertilizer:</span>For almost
                    all lotus you will want a fertilizer with a 10-10-10 or 5-10-10 NPK ratio</li>
            </ul>
            <div class="card-body">
                <button><a href="#" class="card-link navbar-brand">More Info</a> </button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0INwtoz_kTfmNSznSbGMj7u3GU7ZGlyxBUA&usqp=CAU"
                alt="Card image cap" width="287" height="200">
            <div class="card-body">
                <h5 class="card-title">Hibiscus Plant</h5>
                <p class="card-text"><span style="color: blue;font-weight:100px;">SunLight :</span>Give it around six
                    hours of sunshine, and it will grow well</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><span style="color: blue;font-weight:100px;">Soil :</span>Hibiscus grows
                    best in slightly acidic soil that has a pH between 6.5 and 6.8</li>
                <li class="list-group-item"> <span style="color: blue;font-weight:100px;">Watering:</span>Hibiscus are
                    generally thirsty, but it is possible to overwater the plant</li>
                <li class="list-group-item"><span style="color: blue;font-weight:100px;">Fertilizer:</span>Miracle Grow
                    or other fertilizer mixes</li>
            </ul>
            <div class="card-body">
                <button><a href="#" class="card-link navbar-brand">More Info</a> </button>
            </div>
        </div>
    </div>

</div>


<div class="modal fade" id="more">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="w-100 text-center mt-2"
                    style="color: blueviolet;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                    MoreInfo</h3>
                <button class="btn btn-danger" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!-- <p><b style="font-size: x-large;color: blueviolet;"> Soil water:</b> content was kept at field
                        capacity by daily waterings as
                        determined by tensiometer readings.</p>
                    <p><b style="font-size: x-large;color: blueviolet;"> Watering:</b> content was kept at field
                        capacity by daily waterings as
                        determined by tensiometer readings.</p>
                    <p><b style="font-size: x-large;color: blueviolet;"> Fertilizer:</b> content was kept at field
                        capacity by daily waterings as
                        determined by tensiometer readings.</p>
                </div> -->
                <table>
                    <!-- <tr>
                      <th colspan="10" style="text-align: center;">
                        <h1 style="text-align: center;font-size: x-large;color:blue;">More Info</h1>
                      </th>
                    </tr> -->
                    <tr>
                      <td colspan="4">Soil Type</td>
                      <td colspan="6">{{info.soil_type}}</td>
                    </tr>
                    <tr>
                      <td colspan="4">Fertilizer</td>
                      <td colspan="6">{{info.fertilizer}}</td>
                    </tr>
                    <tr>
                      <td colspan="4">Height</td>
                      <td colspan="6">{{info.height}}</td>
                    </tr>
                    <tr>
                      <td colspan="4">PH Range</td>
                      <td colspan="6">{{info.ph_range}}</td>
                    </tr>
                    <tr>
                      <td colspan="4">Sunlight</td>
                      <td colspan="6">{{info.sunlight}}</td>
                    </tr>
                    <tr>
                      <td colspan="4">Watering</td>
                      <td colspan="6">{{info.watering}}</td>
                    </tr>
                    <tr>
                      <td colspan="4">oxygen level</td>
                      <td colspan="6">{{info.oxygen_level}}</td>
                    </tr>
                    <tr>
                      <td colspan="4">imgage url</td>
                      <td colspan="6">{{info.img_url}}</td>
                    </tr>
                  </table>
            </div>
            <div class="modal-footer">

                <button class="btn btn-success" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
