<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"/></svg> -->
            <img src="\assets\pic1.jpg">
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Save Tree Save Life </h1>
                    <p>Tree is our best friend - They give us free Oxygen</p>
                    <p><a class="btn btn-lg btn-primary" href="#">Grow Trees</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/assets/pic3.jpg">
            <div class="container">
                <div class="carousel-caption">
                    <h1 style="color: rgb(253, 249, 249);"> Each One Plant One </h1>
                    <h3 style="color: rgb(253, 249, 249);"> Plants can survive without humans but humans cannot survive
                        without Plants</h3>
                    <p><a class="btn btn-lg btn-primary" href="#">Grow Trees</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="/assets/pic2.jpg">
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>Save Trees - Save Earth</h1>
                    <h4>Plants can survive without humans but humans cannot survive without Plants</h4>
                    <p><a class="btn btn-lg btn-primary" href="#">Green Village</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container">
    <h1> Why tree plantation?
    </h1>
    <div class="row">
        <div class="col">
            <img src="/assets/global.png" alt="" height="180px">
            <h3>Beautify the Environment You Live In</h3>
            <p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; padding: 30px;">
                Trees have many benefits beyond their aesthetic value, including providing shade, improving air quality,
                reducing soil erosion, and creating habitats for wildlife. Trees can also create a peaceful and calming
                environment, which can enhance the overall beauty of a place. Additionally, trees can add to the visual
                appeal of an area by providing color and texture through their leaves, bark, and flowers.
            </p>
        </div>
        <div class="col">
            <img src="/assets/life.png" alt="" height="180px">
            <h3>Conserve Water and Soil</h3>
            <p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; padding: 30px;">
                Trees absorb and retain rainwater, which helps to recharge groundwater and maintain water levels in
                rivers, lakes, and other bodies of water. Trees help to prevent soil erosion by holding soil in place
                with their roots, and by reducing the impact of raindrops on the ground. Trees also help to improve soil
                structure and fertility by adding organic matter through their leaves and branches.
            </p>
        </div>
    </div>
    <div class="row">
        <img src="/assets/tree.png" height="450px" width="50px">

    </div>
    <div class="row">
        <div class="col">
            <img src="/assets/sun.png" alt="" height="180px">
            <h3>Encourage Biodiversity</h3>
            <p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; padding: 30px;">
                Trees can play a crucial role in supporting biodiversity. Trees provide habitat for many species of
                birds, mammals, insects, and other animals. Different species of trees can support different types of
                wildlife, and by planting a variety of trees, we can create diverse habitats that support a wide range
                of biodiversity. By planting a variety of trees, we can create healthy and diverse ecosystems that
                support a wide range of different species.
            </p>
        </div>
        <div class="col">
            <img src="/assets/park.png" alt="" height="180px">
            <h3>Creating Green Parks</h3>
            <p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; padding: 30px;">
                Parks are important public spaces that provide opportunities for people to connect with nature and enjoy
                outdoor activities. Trees provide shade and cooling in parks, which can make them more comfortable and
                enjoyable places to visit, especially during hot weather. This can encourage more people to use the
                parks, which can promote community health and wellbeing. Trees can enhance the aesthetic appeal of parks
                by providing color, texture, and visual interest.
            </p>
        </div>
    </div>

</div>
<div class="container">
    <hr class="featurette-divider">
    <h1 style="color: green
    ;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Village Problems with less plantation</h1>
    <div class="row">
        <h4 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; padding: 30px;" >Villages facing a lack of plantation can encounter several problems. Here are some of the common issues associated with a lack of trees and plants in villages:</h4>
    </div>
    <div class="row">
        <hr class="featurette-divider" style="color: green">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading" >Environmental Degradation: </h2>
            <p class="lead" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Insufficient plantation in villages leads to environmental degradation. Trees an    d plants play a vital role in maintaining ecological balance by absorbing carbon dioxide, releasing oxygen, preventing soil erosion, and supporting biodiversity. Without enough vegetation, villages may experience increased soil erosion, reduced air quality, and loss of wildlife habitats.</p>
          </div>
          <div class="col-md-5">
            <img src="\assets\envdeg1.jpg" alt="" height="280px">
    
          </div>
        </div>
    
        <hr class="featurette-divider">
    
        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Water Scarcity: </h2>
            <p class="lead"  style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Plantation plays a crucial role in maintaining water resources. Trees act as natural sponges, absorbing and storing water, replenishing groundwater levels, and regulating water cycles. In the absence of adequate vegetation, villages may face water scarcity, reduced water quality, and increased vulnerability to droughts.</p>
          </div>
          <div class="col-md-5 order-md-1">
<img src="\assets\water.webp" alt="" height="280px">    
          </div>
        </div>
        <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Soil Fertility Decline:</h2>
        <p class="lead"  style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"> Plantation helps maintain soil fertility by preventing erosion, improving water retention, and enhancing nutrient cycling. Without enough trees and plants, soil fertility can decline, affecting agricultural productivity and livelihoods of rural communities..</p>
      </div>
      <div class="col-md-5">
<img src="\assets\soil.webp" alt="" height="280px">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Climate Change Impact:</h2>
        <p class="lead"  style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Plantation is crucial in mitigating climate change by absorbing greenhouse gases, regulating temperature, and reducing the risk of natural disasters. In the absence of significant vegetation cover, villages may experience increased vulnerability to climate change impacts, such as more frequent and severe floods, heatwaves, and storms.</p>
      </div>
      <div class="col-md-5 order-md-1">
<img src="\assets\climate.png" alt="" height="280px">
      </div>
    </div>
    <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Economic Challenges: </h2>
            <p class="lead"  style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">  Insufficient plantation can hinder economic development in villages. Lack of tree cover limits opportunities for sustainable livelihoods such as forestry, agroforestry, and eco-tourism. It may also impact local industries that rely on forest products and affect the availability of non-timber forest resources for the community.</p>
          </div>
          <div class="col-md-5">
            <img src="\assets\economy.jpg" alt="" height="280px">
    
          </div>
        </div>
    
        <hr class="featurette-divider">
    
        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Health Concerns:</h2>
            <p class="lead"  style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Trees and plants contribute to improved air quality by absorbing pollutants and releasing oxygen. In the absence of sufficient plantation, villages may face higher levels of air pollution, which can have detrimental effects on respiratory health and overall well-being of the residents.</p>
          </div>
          <div class="col-md-5 order-md-1">
<img src="\assets\health.webp" alt="" height="300px">    
          </div>
        </div>
        <hr class="featurette-divider">
    
    </div>
</div>  